<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">{{ site.data.fhir.igId | split: "." | last  | upcase}} Home</a>
	</li>
	<li>
		<a href="toc.html">Table of Contents</a>
	</li>

	
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Volume 1<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="introduction.html">Introduction<style="text-align: baseline"/></a></li>
			<li><a href="usecases.html">Use Cases<style="text-align: baseline"/></a></li>
			<li><a href="overview.html">Overview<style="text-align: baseline"/></a></li>
			<li><a href="actors_and_transactions.html">Actors and Transactions overview<style="text-align: baseline"/></a></li>
			<li><a href="actor_options.html">Actor Options<style="text-align: baseline"/></a></li>
			<li><a href="actor_required_grouping.html">Actor Required Grouping<style="text-align: baseline"/></a></li>
			<li><a href="security_considerations.html">Security Considerations<style="text-align: baseline"/></a></li>
			<li><a href="cross_profile_considerations.html">Cross Profile Considerations<style="text-align: baseline"/></a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Volume 2<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a href="actors_and_transactions.html">Actors Definitions<style="text-align: baseline"/></a></li>
			<li><a href="transactions.html">Transaction Definitions<style="text-align: baseline"/></a></li>
		</ul>
	</li>
	
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Implementation<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#">Test Data<img src="external.png" style="text-align: baseline"/></a></li>
			<li><a target="_blank" href="#">OpenAPI</a></li>
			<li><a href="#">Testing (Gazelle)<img src="external.png" style="text-align: baseline"/></a></li>
			<li><a href="#">Downloads</a></li>
			<li><a href="#">FHIR Specification</a></li>
		</ul>
	</li>
</ul>      